<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}AppGantt{% endblock %}</title>
		<meta charset="utf-8" />
	</head>

	<body>
		{% block body %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
	</body>
</html>
