{% extends "AppGanttBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Noeuds libres{% endblock %}

{% block body %}
	<h1>Liste des noeuds libres du cluster</h1>
	<p>
		Cette application est encore en phase de développement...
	</p>
{% endblock %}
