{% extends "AppGanttBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
	<h1>Bienvenue sur l'application AppGantt</h1>
	<p>
		Cette application est encore en phase de développement...
	</p>
{% endblock %}
