{% extends "AppGanttBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Infos job{% endblock %}

{% block body %}
	<h1>Informations sur le job</h1>
	<p>
		Cette application est encore en phase de développement...
	</p>
{% endblock %}
