{% extends "AppGanttBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Diagramme{% endblock %}

{% block body %}
	<h1>Page principale de l'application</h1>
	<p>
		Cette application est encore en phase de développement...
	</p>
{% endblock %}
