{% extends "AppGanttBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Infos noeud{% endblock %}

{% block body %}
	<h1>Informations sur le noeud</h1>
	<p>
		Cette application est encore en phase de développement...
	</p>
{% endblock %}
